CREATE TABLE IF NOT EXISTS mesajlar (
  id INT PRIMARY KEY AUTO_INCREMENT,
  gonderici_id INT NOT NULL,
  alici_id INT NOT NULL,
  mesaj TEXT NOT NULL,
  ilan_id INT DEFAULT NULL,
  okundu BOOLEAN DEFAULT FALSE,
  tarih TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (gonderici_id) REFERENCES kullanicilar(id) ON DELETE CASCADE,
  FOREIGN KEY (alici_id) REFERENCES kullanicilar(id) ON DELETE CASCADE,
  FOREIGN KEY (ilan_id) REFERENCES ilanlar(id) ON DELETE SET NULL,
  INDEX idx_gonderici (gonderici_id),
  INDEX idx_alici (alici_id),
  INDEX idx_tarih (tarih DESC)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
